<html lang="ja">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <form method="post" action="create" >
    <p>{{.Mess}}</p>
    <ul>
      <li>
        <label>名前</label>
        <input type="text" name="Name"/>
      </li>
      <li>
        <label>タイトル</label>
        <input type="text" name="Title"/>
      </li>
      <li>
        <label>本文</label>
        <input type="text" name="Body"/>
      </li>
      <input type="submit" name="Submit" value="登録" /><br/>
    </ul>
  </form>
  <a href="/">掲示板一覧</a>
</html>
