<html lang="ja">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <form method="post" action="/create" >
    <label>
      Name
      <input type="text" name="Name" value="{{.Message.Name}}"/>
    </label>
    <label>
      Title
      <input type="text" name="Title" value="{{.Message.Title}}"/>
    </label>
    <label>
      Body
      <input type="text" name="Body" value="{{.Message.Body}}"/>
    </label>
    <input type="submit" name="Submit" value="登録" /><br/>
    {{.Mess}}
  </form>
  <a href="/index">back</a>
</html>
